using System;
class program{
    public static void Main(){
        int n = int.Parse(Console.ReadLine());
        int counter1 = 1, counter10 = 1, counter100 = 1, counter1000 = 1;
        bool flag = true;
        for (int i=1; i<=n; i++){
            flag = true;
            if(counter1000 == 3000){
                for(int j=0; j<1000&&i<=n; j++){
                    Console.WriteLine(" {0}",i);
                    if(j != 999){
                        counter1++;
                        counter10++;
                        counter100++;
                        counter1000++;
                        counter1 = counter1%10;
                        counter10 = counter10%100;
                        counter100 = counter100%1000;
                    }
                }
                flag = false;
            }
            
            else if(counter100 == 300 && flag){
                for(int j=0; j<100&&i<=n; j++){
                    Console.WriteLine(" {0}",i);
                    if(j != 99){
                        counter1++;
                        counter10++;
                        counter100++;
                        counter1000++;
                        counter1 = counter1%10;
                        counter10 = counter10%100;
                        counter100 = counter100%1000;
                        i++;
                    }
                        
                }
                flag = false;
            }
            
            else if(counter10 == 30 && flag){
                for(int j=0; j<10 && i<=n; j++){
                    Console.WriteLine(" {0}",i);
                    if(j != 9){
                        counter1++;
                        counter10++;
                        counter100++;
                        counter1000++;
                        counter1 = counter1%10;
                        counter10 = counter10%100;
                        counter100 = counter100%1000;
                        i++;
                    }
                }
                flag = false;
            }
            
            else if(counter1 == 3 && flag){
                Console.WriteLine(" {0}",i);
                flag = false;
            }
            
            else if(i%3==0 && flag){
                Console.WriteLine(" {0}",i);
            }
            counter1++;
            counter10++;
            counter100++;
            counter1000++;
            counter1 = counter1%10;
            counter10 = counter10%100;
            counter100 = counter100%1000;
        }
        Console.WriteLine("");
    }
}