<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset = "UTF-8">
    <link rel="stylesheet" type="text/css" href="/static/css/style.css?ver1.0.2" />
    <title>CSS_Test</title>
    <script src="../RareGacha.py"></script>
</head>
<body>
    <form action="/test" method="get">
        <button name="get_value" value="from get">get submit</button>
    </form>
      
    <form action="/test" method="post">
        <button name="AAAA" value="res">post submit</button>
    </form>

    <button type="submit" name="sample" value="push">押せ！</button>

    <p>{{result1}}</p>
    <p>{{result10}}</p>
</body>
</html>