<div class="form">
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <p class="lead">
                {% if result %}
                  {{ time }} ガチャを回しました！<br>
                  {{ vo.count }} 回目 合計金額 {{ vo.price }} 円<br>
                  結果は
                  {% for v in result %}
                    {{ v }}
                  {% endfor %}
                  でした！
                {% else %}
                  {{ message }}
                {% endif %}
              </p>
              <form action="/post" method="post" name="rare" class="form-inline">
                <button type="submit" name="rare" class="btn btn-default">レアガチャを回す</button>
              </form>
              <form action="/post" method="post" name="10rare" class="form-inline">
                <button type="submit" name="10rare" class="btn btn-default">10 連レアガチャを回す</button>
              </form>
              <form action="/post" method="post" name="reset" class="form-inline">
                <button type="submit" name="reset" class="btn btn-default">リセットする</button>
              </form>
            </div>
          </div>
        </div>
      </div>