<!-- index.html -->
<!DOCTYPE html>
<html lang="ja">
  <body>

    <form action="/test" method="get">
        <button name="get_value" value="from get">get submit</button>
        <p>{{result}}</p>
    </form>

    <form action="/test" method="post">
        <button name="post_value" value="from post">post submit</button>
    </form>

  </body>
</html>
